*{
    margin: 0;
    padding: 0;
}

nav{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.medifit{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 8px;
    color:rgb(133, 35, 35);
}
.m-text{
    font-size: larger;
}
.m-logo{
    
}
.nav-item ul{
    display: flex;
    gap: 20px;
}
.nav-item ul li{
    list-style: none;
    color:rgb(133, 35, 35);
    font-size: 23px;
}
.search_logo{
    display: flex;
    gap: 5px;
    font-size: 20px;
}


button{
    background-color: rgb(133, 35, 35);
    padding: 10px 15px;
    border-radius: 4px;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
}
.shop-button{
    font-size: 18px;
    display: block;
}
/* .hero-text{
    border: 1px solid tomato;
} */
.hero-text h1{
    color:rgb(133, 35, 35);
}
.hero-text p{
    color: rgb(78, 55, 55);
    margin: 15px 0;
    font-size: 18px;
}

.conteinar{
    width: 80%;
    margin: 10px auto;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
img{
    width: 100%;
}
.hero-image{
    width: 400px;
}
.banner{
    background-color: rgb(247, 244, 239);

}
/* ==========Header Section End=========== */
.category{
    width: 80%;
    margin: 60px auto;
}
.category-cards{
    display: flex;
    justify-content: space-between;
}
.category-card{
    width: 110px;
    height: 100px;
    display: grid;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    box-shadow: 0px 0px 0.4px ;
    
}
.category-card img{
    width: 60px;
}
.category-card h4{
    color: rgb(133, 35, 35);
}
.category-card p{
    color: rgb(133, 35, 35);
}
.category h2{
    text-align: center;
    color: rgb(133, 35, 35);
    margin-bottom: 30px;
    font-size: 35px;
}

.big-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.big-card{
    width: 300px;
    height: 170px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(251, 249, 246);
}
.shop-bag{
    display: flex;
    align-items: center;
    gap: 5px;
    color: brown;
    border-bottom: 2px solid brown;
    width: 105px;
}
.shop-bag img{
    width: 30px;
    
}
.big-card-text > p{
    background-color: rgb(193, 117, 87);
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
    width: 85px;
    font-size: 19px;
    text-align: center;
}
.big-card-text h3{
    color: rgb(133, 35, 35);
    margin: 30px 0 10px;
    line-height: 25px;
    font-size: 27px;
}
.big-card-img{
    width: 190px;
}

/* ============ Category section end====== */
.latest-sec{
    margin: 50px auto;
    width: 80%;
}
.latest-cards{
    display: flex;
    justify-content: space-between;
}
.latest-sec h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    color: rgb(133, 35, 35);
}
.latest-card-img{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.latest-card-img img{
    width: 100px;
    height: 150px;
    
}
.latest-card-img > span{
    background-color: rgb(193, 117, 87);
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 19px;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
}
.latest-card-text{
    margin: 5px;
}
.latest-card-text h5{
    font-size: 20px;
    margin: 2px 0;
}
.price{
    display: flex;
    justify-content: space-between;
}
.old-price{
    text-decoration: line-through;
    
}